<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{1,77},{67,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{70,1},{67,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{1,153},{67,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{70,77},{67,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{139,1},{67,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{70,153},{67,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{139,77},{67,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{139,153},{67,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon-a.png</string>
            <key>size</key>
            <string>{207,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e93f4335682e033743ebcd872444277:d974275cce939cf9debf6ab54f70a0b5:a8f8396c82dd8572368c644a952682e6$</string>
            <key>textureFileName</key>
            <string>icon-a.png</string>
        </dict>
    </dict>
</plist>
